version: "3.8"

services:
  db:
      container_name: db
      image: postgres
      environment:
        - POSTGRES_DB=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres

  backend:
    container_name: backend
    build:
      context: 'backend'
      target: development
    command: bash -c "python setup.py & python manage.py runwebsocketclient"
    volumes:
      - ./backend:/app/backend
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres      
      - CHOKIDAR_USEPOLLING=true
      - WALLET_PASS_TEST=<passphrase_for_test_wallet>
      - WALLET_PASS=<passphrase_for_main_wallet>
      - WALLET_ID=<id_for_wallet>
      - TOKEN_PRICE=<token_price_in_htr>
      - TOKEN_BUYBACK_PRICE=<token_price_for_buyback_action_in_htr>
      - TOKEN_UUID=<uuid_of_selling_token>
      - RECEIVE_ADDRESS=<address_to_scan_for_received_tokens>
      - FEES=<send_fees_for_dozer_team>
      - ADMIN_DJANGO_PASSWORD=<password_for_accessing_django_admin>

    depends_on:
      - db

  wallet:
    container_name: wallet
    command: run_node
    build:
      dockerfile: Dockerfile_headless
    ports:
      - "8000:8000"
    environment:
      - HEADLESS_SEED_DEFAULT=<seeds_for_wallet_in_testnet>
      - HEADLESS_ENABLED_PLUGINS=ws
      - HEADLESS_PLUGIN_WS_PORT=7000      
      - HEADLESS_ALLOW_PASSPHRASE=true
      - HEADLESS_NETWORK=testnet
      - HEADLESS_SERVER=https://node1.testnet.hathor.network/v1a/
  
  # for production - mainnet wallet
  # wallet:
  #   container_name: wallet
  #   build:
  #     dockerfile: Dockerfile_headless
  #   command: run_node
  #   ports:
  #     - "8000:8000"
  #   environment:            
  #     - HEADLESS_SEED_DEFAULT=<seeds_for_wallet_in_mainnet>
  #     - HEADLESS_ENABLED_PLUGINS=ws
  #     - HEADLESS_PLUGIN_WS_PORT=7000
  #     - HEADLESS_ALLOW_PASSPHRASE=true
  #     - HEADLESS_NETWORK=mainnet
  #     - HEADLESS_SERVER=https://node2.mainnet.hathor.network/v1a/